 /*
CSS for the main interaction
*/
html {
    width: 100wh;
    height: 100vh;
}



body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #2e2e2e;
    color: white;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;  /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;  /* Color of the thumb */
    border-radius: 4px;  /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Color of thumb on hover */
  }
  

.tabset {
    height: 100%;
    width: 100%;
    padding-left: 20px;  /* Add 20px padding to the left */
}

.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tab-panels {
    height: 100%;
    width: 100%;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: flex;
}
 
.tabset>label {
    position: relative;
    display: inline-block;
    padding: 5px 15px 15px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset>label:hover,
.tabset>input:focus+label {
    color: #06c;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: #06c;
    width: calc(100% - 30px);
}

.tabset>input:checked+label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px;
    border-top: 1px solid #ccc;
    height: 100%;
    width: 100%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.sidebar {
    /* existing styles */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 60px;  /* Add this line */
}


.collapsed {
    width: 0;
    padding: 0;
}

.main-content {
    margin-left: 25%;  /* or whatever the width of your sidebar is when expanded */
    transition: margin-left 0.5s;  /* optional: for smooth transition */
    margin-left: 0;  /* No margin when the sidebar is collapsed */
    padding: 20px 50px;
    background-color: #2e2e2e; 
}

.toggle-button {
    /* position: fixed;  Fixed position */
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    border-radius: 0.5rem;
    margin: 0px 0.125rem;
    color: inherit;
    width: auto;
    user-select: none;
    background-color: transparent;
    border: none;
    font-size: 14px;
    line-height: 1;
    min-width: 2rem;
    min-height: 2rem;
    padding: 0px;
}
  
 
.toggle-button:hover {
    background-color: #242424; /* Slightly darker green on hover */
}

.autocomplete-container {
    width: 80%;
    margin: 10px auto;
}

/* Style the checkboxes */
input[type="checkbox"] {
    transform: scale(1.3); /* Increase the size */
    margin-right: 5px; /* Add some spacing between checkbox and label */
}

/* Style the labels for checkboxes */
label[for] {
    font-size: 16px; /* Adjust the font size */
    vertical-align: middle; /* Vertically align the label with the checkbox */
}


input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin: 15px 0 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

 
ul.suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #333;
    color: white;
}

ul.suggestion-list li {
    padding: 4px 8px;
    /* Small padding */
    cursor: pointer;
    color: white;
}

.sidebar label {
    padding: 8px 16px;
    /* Add padding to top-bottom and left-right */

    /* Makes it occupy the full width */
    margin: 4px 0;
    /* Optional: Add some margin to top and bottom */
}

.tab {
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #444;
    color: white;
}
/* Style the collapsible content container */
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

/* Style the button inside the collapsible content */
.collapsible-content button {
    background-color: #3f3f3f; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for better appearance */
    font-size: 16px;
    cursor: pointer;
   
     
}

.collapsible-content button:hover {
    background-color: #a8a8a8; /* Darker blue on hover */
}

/* Style the content inside the collapsible container */
.collapsible-content .content {
    padding: 10px; /* Add padding to the content */
}

/* Style the content inside the collapsible container */
.collapsible-content .content label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add spacing between labels */
}

 

/* Styles for the open button (>) */
.open-sidebar-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    /* Other styling */
  }
  
  /* Styles for the close button (X) */
  .close-sidebar-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    /* Other styling */
  }
  

  .wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
.lbl-toggle {
  position: relative; /* Add relative positioning */
  z-index: 1; /* Set a higher z-index than the checkboxes */
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem; 
  background: #1e1e1e;
  /* background: #18181800; */
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #570000;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  position: relative; /* Add relative positioning */
  z-index: 0; /* Set a lower z-index than the title */
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
  z-index: 1; /* Set a higher z-index when expanded to cover checkboxes */
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(14, 0, 0, 0.2);
  border-bottom: 1px solid rgba(250, 66, 66, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

/* Style the checkboxes inside the .lbl-toggle */
.lbl-toggle input[type="checkbox"] {
  position: absolute;
 display: none;
}

 
 