 /*
CSS for the main interaction
*/
html {
    width: 100wh;
    height: 100vh;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #2e2e2e;
    color: white;
    margin: 0;
    padding: 0;
}

.tabset {
    height: 100%;
    width: 100%;
    padding-left: 20px;  /* Add 20px padding to the left */
}

.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tab-panels {
    height: 100%;
    width: 100%;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: flex;
}
 
.tabset>label {
    position: relative;
    display: inline-block;
    padding: 5px 15px 15px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset>label:hover,
.tabset>input:focus+label {
    color: #06c;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: #06c;
    width: calc(100% - 30px);
}

.tabset>input:checked+label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
    height: 100%;
    width: 100%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.sidebar {
    position: fixed;  /* Make sidebar fixed */
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;  /* initially collapsed */
    background-color: #1e1e1e;
    overflow-x: hidden;
    overflow-y: auto;
  
    transition: 0.5s;  /* smooth transition */
    padding: 0;  /* Remove padding when collapsed */
}

.collapsed {
    width: 0;
    padding: 0;
}

.main-content {
    margin-left: 25%;  /* or whatever the width of your sidebar is when expanded */
    transition: margin-left 0.5s;  /* optional: for smooth transition */
    margin-left: 0;  /* No margin when the sidebar is collapsed */
    padding: 20px;
    background-color: #2e2e2e; 
}

.toggle-button {
    position: fixed;
    left: 0;
    top: 0;
    /* Stick to the top of the page */
    z-index: 2;
    height: 20px;
    /* Smaller height */
    width: 20px;
    /* Smaller width */
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
}

.autocomplete-container {
    width: 80%;
    margin: 10px auto;
}

input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

ul.suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #333;
    color: white;
}

ul.suggestion-list li {
    padding: 4px 8px;
    /* Small padding */
    cursor: pointer;
    color: white;
}

.sidebar label {
    padding: 8px 16px;
    /* Add padding to top-bottom and left-right */

    /* Makes it occupy the full width */
    margin: 4px 0;
    /* Optional: Add some margin to top and bottom */
}

.tab {
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #444;
    color: white;
}