<!DOCTYPE html>
<html>

  <head>
    <title>Zarrify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <div class="main-content">
      <button class="toggle-button" onclick="toggleSidebar()">☰</button>
      <div class="tabset" id="tabset">
        <!-- Dynamic tabs will be populated here -->
    </div>
    <div class="tab-panels" id="tab-panels">
      <!-- Dynamic tab panels will be populated here -->
    </div>

    </div>
    
    
    <div id="all">
      <div class="sidebar" id="sidebar">
          
          <button onclick="toggleCollapse('target-folder-content')">Target Folder</button>
          
          <div id="target-folder-content" class="collapsible-content">
            <div class="autocomplete-container" id="input-container-1">
              <label for="project_folder">Target Folder:</label>
              <input type="text" id="project_folder"
                oninput="getSuggestions('project_folder', 'suggestion-list')"
                placeholder="Type target folder path">
              <ul class="suggestion-list" id="suggestion-list"></ul>
            </div>
            <div id="zarrify_button">
              <button onclick="sendToStreamlit()">Validate</button>
            </div>
            <div id="checkbox-container">
              <!-- Checkboxes will be populated here -->
            </div>
            
        </div>
        <button id="run-algorithm">Run Algorithm</button>
        <button onclick="addNewTabPanel()">Add New Tab Panel</button>

        
        </div>
      </div>
      

      </div>

    </div>
  </body>

</html>